html {
    background: #f3f4f5;
    color: #444;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
    font-weight: 300;
}

.general,
#map-canvas {
    bottom: 0;
    left: 0;
	margin: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 50;
}

.general output {
	font-size: 2em;
}

output.numberOfPeople {
	font-size: 6em;
	font-weight: 100;
}

#map-canvas {
	border-right: 1px solid rgba(0,0,0,.3);
    z-index: 20;
}

.details {
    bottom: 0;
	margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 70;
}

h2 {
    background: rgba(200,201,204,.95);
    border-bottom: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 .1em .05em rgba(0,0,0,.07);
    margin: 0 0 1em;
    padding: .5em 0;
    text-align: center;
}

.seats > li {
    border: .15em solid #ccc;
    border-radius: .3em;
    float: left;
    height: 9em;
    list-style: none;
    margin: 2%;
    padding: 1%;
    position: relative;
    width: 25%;
}

.seats > li:first-child {
    margin-right: 33.5%;
}

.seats > li:nth-child(3) {
    clear: left;
}

dl {
    background: #f9fbfe;
    border-radius: .2em;
    height: 96%;
    margin: 0;
    padding: 2%;
}

dl.warning {
    background: #fc3500;
    color: #fff;
}

dl.inactive {
    background: #ddd;
}

.inactive dt,
.inactive dd {
    display: none;
}

dt:first-child,
dd:first-of-type {
    display: none;
}

dt {
    display: none;
    font-weight: 500;
}

dd {
    margin: 0;
}

.heartRate {
    bottom: 0;
    font-size: 1.5em;
    font-weight: 400;
    height: 2.3em;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.heartRate:after {
    content: "bpm";
    display: block;
    font-size: .4em;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.btn {
    background: linear-gradient(180deg, #f3c834, #d39503);
    border-radius: .4em;
    box-shadow:
        0 .2em .5em rgba(0,0,0,.15),
        0 .1em .3em rgba(0,0,0,.2);
    color: #000;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .07em;
    padding: .6em 1.2em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:active,
.btn.active {
    box-shadow:
        0 0 .5em rgba(0,0,0,.15),
        inset 0 .1em .2em rgba(0,0,0,.2);
    top: 1px;
}

.btn.led.active {
    box-shadow:
        0 0 .5em rgba(0,0,0,.15),
        inset 0 .1em .2em rgba(0,0,0,.25),
        inset 0 0 4em rgba(255,255,255,.2),
        0 0 .85em #f3c834,
        0 0 .1em #f3c834;
    text-shadow:
        0 0 .1em #f3c834,
        0 0 .5em rgba(255,255,255,.75),
        0 0 .1em rgba(255,255,255,.4);
    transition: box-shadow .15s linear;
}

.big-btn {
    display: block;
    clear: both;
    font-size: 1.25em;
    margin: 1em;
    padding: 1em 0;
    text-align: center;
}