body {
  background-color: rgb(236, 236, 236);
  font: 400 1em/0.5 Helvetica;
  color: rgb(255, 255, 255);
}

.container .container {
  float: left;
}

.element {
  float: left;
}

.text {
  float: left;
}

.text-8 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 350px;
  height: 62px;
  margin-top: 130px;
  border-radius: 10px;
  background: rgb(246, 219, 42);
  background: -webkit-linear-gradient(270deg, rgb(246, 219, 42) 0%, rgb(193, 159, 26) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(246, 219, 42) 0%, rgb(193, 159, 26) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(246, 219, 42) 0%, rgb(193, 159, 26) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(246, 219, 42) 0%, rgb(193, 159, 26) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(246, 219, 42) 0%, rgb(193, 159, 26) 100%) rgb(222, 222, 222);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container-1 {
  width: 734px;
  height: 473px;
  margin: 80px auto 0;
}

.contain-left {
  width: 351px;
  height: 473px;
}

.contain-right {
  width: 350px;
  height: 473px;
  margin-left: 33px;
}

.incar-info {
  clear: both;
  width: 300px;
  height: 194px;
  margin: 40px 0 0 25px;
}

.incar-green {
  width: 91px;
  height: 91px;
}

.incar-white {
  width: 91px;
  height: 91px;
  margin-left: 14px;
}

.incar-red {
  width: 91px;
  height: 91px;
  margin-left: 13px;
}

.google-map {
  clear: both;
  width: 351px;
  height: 380px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5) inset;
}

.element-green {
  position: relative;
  clear: both;
  z-index: 8;
  width: 91px;
  height: 91px;
  margin-top: -91px;
  border-radius: 8px;
  background: rgb(107, 189, 63);
  background: -webkit-linear-gradient(270deg, rgb(107, 189, 63) 0%, rgb(5, 139, 44) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(107, 189, 63) 0%, rgb(5, 139, 44) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(107, 189, 63) 0%, rgb(5, 139, 44) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(107, 189, 63) 0%, rgb(5, 139, 44) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(107, 189, 63) 0%, rgb(5, 139, 44) 100%) rgb(222, 222, 222);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.element-white {
  position: relative;
  clear: both;
  z-index: 12;
  width: 91px;
  height: 91px;
  margin-top: -51px;
  border-radius: 8px;
  background: rgb(246, 246, 246);
  background: -webkit-linear-gradient(270deg, rgb(246, 246, 246) 0%, rgb(183, 183, 183) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(246, 246, 246) 0%, rgb(183, 183, 183) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(246, 246, 246) 0%, rgb(183, 183, 183) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(246, 246, 246) 0%, rgb(183, 183, 183) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(246, 246, 246) 0%, rgb(183, 183, 183) 100%) rgb(222, 222, 222);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.element-red {
  position: relative;
  z-index: 15;
  width: 91px;
  height: 91px;
  border-radius: 8px;
  background: rgb(237, 72, 23);
  background: -webkit-linear-gradient(270deg, rgb(237, 72, 23) 0%, rgb(199, 33, 0) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(237, 72, 23) 0%, rgb(199, 33, 0) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(237, 72, 23) 0%, rgb(199, 33, 0) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(237, 72, 23) 0%, rgb(199, 33, 0) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(237, 72, 23) 0%, rgb(199, 33, 0) 100%) rgb(222, 222, 222);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.icon-micro {
  position: relative;
  clear: both;
  z-index: 7;
  width: 42px;
  height: 42px;
  margin: -50px 0 0 154px;
  background: url('../images/mic.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.left-title {
  width: 187px;
  min-height: 44px;
  padding: 5px;
  background-color: rgb(221, 222, 224);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
  text-align: right;
  color: rgb(128, 15, 3);
}

.left-title2 {
  width: 164px;
  min-height: 46px;
  padding: 4px;
  background-color: rgb(221, 222, 224);
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

.left-warn {
  clear: both;
  width: 351px;
  min-height: 46px;
  padding: 10px;
  background-color: rgb(221, 222, 224);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .5);
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
}

.right-title {
  width: 350px;
  min-height: 47px;
  padding: 5px;
  background-color: rgb(221, 222, 224);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: rgb(134, 16, 4);
}

.green-text1 {
  position: relative;
  z-index: 9;
  width: 91px;
  height: 51px;
  min-height: 51px;
  padding: 8px;
  font-size: 1.375em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.green-text2 {
  position: relative;
  clear: both;
  z-index: 10;
  width: 91px;
  min-height: 40px;
  padding: 8px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.white-text1 {
  position: relative;
  z-index: 13;
  width: 91px;
  height: 51px;
  min-height: 51px;
  padding: 10px;
  font-size: 1.375em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(65, 65, 65);
}

.text-8 {
  position: relative;
  clear: both;
  z-index: 16;
  width: 91px;
  height: 51px;
  min-height: 51px;
  margin-top: -91px;
  padding: 8px;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-9 {
  position: relative;
  z-index: 17;
  width: 91px;
  min-height: 40px;
  margin-top: -40px;
  padding: 8px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}